# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
